[submodule "repo/rocket-chip"]
	path = repo/rocket-chip
	url = https://github.com/chipsalliance/rocket-chip.git
[submodule "repo/riscv-isa-sim"]
	path = repo/riscv-isa-sim
	url = https://github.com/sycuricon/riscv-isa-cosim.git
[submodule "repo/riscv-boom"]
	path = repo/riscv-boom
	url = https://github.com/riscv-boom/riscv-boom.git
[submodule "repo/testchipip"]
	path = repo/testchipip
	url = https://github.com/ucb-bar/testchipip.git
[submodule "repo/rocket-chip-blocks"]
	path = repo/rocket-chip-blocks
	url = https://github.com/chipsalliance/rocket-chip-blocks.git
[submodule "repo/rocket-chip-fpga-shells"]
	path = repo/rocket-chip-fpga-shells
	url = https://github.com/chipsalliance/rocket-chip-fpga-shells.git
[submodule "firmware/rvsnap"]
	path = firmware/rvsnap
	url = https://github.com/sycuricon/rvsnap.git
[submodule "repo/InstGenerator"]
	path = repo/InstGenerator
	url = https://github.com/sycuricon/InstGenerator.git
