# IDE
.vscode/
.bsp/
.metals/
.bloop/
.idea/

# sbt Build
build/
target/

# Ignore files generated under build
build/.../*.v
build/.../*.fir
build/.../*.json

# Log
log*
*.jou
*.log
*log.txt

# Verdi
novas.*
*fsdb*Log/
